
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.flex-container {
    display: flex;
    border:#6fdf6f
}

.top-row {
    background-color: #f0f0f0;
    justify-content: space-around;
    padding: 10px;
    border-style: dashed;
    border-width:2px;
    border-color: #2f7197;
    border-radius: 2px;
}

.menu-item {
    padding: 10px;
    border: 1px solid #084e77;
    border-style:dotted;
    cursor: pointer;
}

.color1 { background-color: #ff9999; }
.color2 { background-color: #99ff99; }
.color3 { background-color: #9999ff; }
.color4 { background-color: #ffff99; }
.color5 { background-color: #ffcc99; }

.middle-row {
    background-color: #807c7c;
}

.column {
    flex: 1;

    padding: 20px;
}

.right-column {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    border-style:dotted;
    border-color:#99ff99;
}

.row {
    padding: 10px;
    border: 1px solid #c01616;
}

.color6 { background-color: #ffcccc; }
.color7 { background-color: #ccffcc; }
.color8 { background-color: #ccccff; }
.color9 { background-color: #666975; }
.color10 { background-color: #f0953b; }
.color11 { background-color: #6fdf6f; }
.color12 { background-color: #5d5df0; }
.color13 { background-color: #e6e60b; }

.bottom-row {
    background-color: #f0f0f0;
    gap: 20px;
}

.footer-column {
    flex: 1;
    padding: 20px;
    border: 2px solid #62006e;
    border-style: outset;
    border-radius: 2px;
}

.color14 { background-color: #811212; }
.color15 { background-color: #2f7197; }
.color16 { background-color: #6666a3; }